* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
.container {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #000;
  overflow: hidden;
}
.tasbih {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.top_row {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top_row > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 24px;
  position: static;
  height: 36px;
  font-size: 16px;
  background-color: #222;
  border-radius: 60px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.top_row select:focus {
  outline: none;
}
.value {
  color: #fff;
  font-weight: 500;
  font-size: 9rem;
}
.add_btn,
.decrease_btn {
  display: flex;
  align-items: center;
  padding-top: 15%;
  justify-content: center;
  border-radius: 50%;
  background-color: #01301c;
  border: 6px solid #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s;
}
.add_btn:active,
.decrease_btn:active{
  border: 6px solid #00ea86;
  background-color: #007543;
}
.decrease_btn{
    align-items: baseline;
    padding-top: 5%;
}
.add_btn {
  width: 240px;
  height: 240px;
}
.decrease_btn {
  margin-top: -4rem;
  width: 90px;
  height: 90px;
}
.add_btn_arrow,
.dec_btn_arrow {
  transform: rotate(-45deg);
  border-top: 6px solid #00ea86;
  border-right: 6px solid #00ea86;
  border-left: none;
  border-bottom: none;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.add_btn_arrow {
  width: 100px;
  height: 100px;
}

.dec_btn_arrow {
  width: 35px;
  height: 35px;
  transform: rotate(135deg);
}
.creator{
  color: rgb(102, 102, 102);
}